# Dependencies
node_modules/
venv/

# Environment
.env
.env.*
!.env.example

# OS/Editor
.DS_Store
.idea/
.vscode/

# Builds
dist/
build/
coverage/
.cache/
.next/
.out/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
